americanflightsapi/src/main/app/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:ws="http://www.mulesoft.org/schema/mule/ws" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ws http://www.mulesoft.org/schema/mule/ws/current/mule-ws.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
    <db:mysql-config name="MySQL_Configuration" host="mudb.mulesoft-training.com" port="3306" user="mule" password="mule" database="training" doc:name="MySQL Configuration"/>
    <db:mysql-config name="MySQL_Configuration1" host="mudb.mulesoft-training.com" port="3306" user="mule" password="mule" database="training" doc:name="MySQL Configuration"/>
    <ws:consumer-config name="Web_Service_Consumer1" wsdlLocation="http://localhost:9191/essentials/delta?wsdl" service="DeltaFlightsService" port="DeltaFlightsServiceImplPort" serviceAddress="http://localhost:9191/essentials/delta" doc:name="Web Service Consumer"/>
    <flow name="getFlightsFlow">
        <db:select config-ref="MySQL_Configuration1" doc:name="Database">
            <db:parameterized-query><![CDATA[select * from american]]></db:parameterized-query>
        </db:select>
    </flow>
    <flow name="getSingleFlightFlow">
        <db:select config-ref="MySQL_Configuration1" doc:name="Database">
            <db:parameterized-query><![CDATA[select * from american where id = #[message.inboundProperties.'http.uri.params'.id]]]></db:parameterized-query>
        </db:select>
    </flow>
</mule>
